h1{
	color:darkblue;
	font-size:60px;
}
body{
	background-color:#f4f4f4;
	color:#555555;
	font-family:serif,Times,"Times New Roman";
	font-size:20px;
	font-style: italic;
}
p{
	background-color: red
}
p1{
	background-image: url("download.jpg");
}
